%alert-font-color {
    color: #eff7f2;
}

.alert {
    display: flex;
    align-items: center;
    background-color: $green;
    border-radius: 4px;
    padding: 10px 15px;

    &__icon {
        @extend %alert-font-color;

        width: 21px;
        height: 21px;
        display: inline-block;
        background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='%23eff7f2' viewBox='0 0 16 16'><path d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z'/></svg>");
        background-repeat: no-repeat;
        margin-right: 15px;
    }

    p {
        @extend %alert-font-color;
        margin: 0;
        flex: 1;
    }

    strong {
        font-family: 'roboto-medium';
    }

    &__close {
        @extend %alert-font-color;

        width: 23px;
        height: 23px;
        background-image: url("data:image/svg+xml, <svg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 16 16'><path fill-rule='evenodd' d='M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z'/></svg>");
        background-repeat: no-repeat;
        margin-left: 15px;
        opacity: .6;

        &:hover {
            opacity: .75;
        }
    }
}
