@mixin button_color($color_name, $color, $bg_color_hover) {
    &--#{$color_name} {
        background-color: $color;
        border: 1px solid $color;
        color: #fff !important;

        &:hover {
            background-color: $bg_color_hover;
        }
    }
}

@mixin button_outline_color($color_name, $color) {
    &--#{$color_name} {
        background-color: #fff;
        border: 1px solid $color;
        color: $color;

        &:hover {
            background-color: $color;
            color: #fff !important;
        }
    }
}

.btn {
    padding: 8px 12px;
    border-radius: 4px;

    svg {
        margin-top: -3px;
    }

    @include button_color('blue', $blue, $old_blue);
    @include button_outline_color('blue-outline', $blue);
    @include button_outline_color('red-outline', $red);
    @include button_outline_color('gray-outline', $gray);

    &--disabled {
        pointer-events: none;
        opacity: .65;
    }
}

a.btn {
    text-decoration: none;
    display: inline-block;
}
