@mixin font-face($font-name, $font-family){
    @font-face {
        font-family: $font-family;
        src: url('../fonts/roboto-fontfacekit/'+$font-name+'.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
}

@include font-face('Roboto-BlackItalic-webfont','roboto-blackitalic');
@include font-face('Roboto-Black-webfont','roboto-black');
@include font-face('Roboto-BoldItalic-webfont','roboto-bolditalic');
@include font-face('Roboto-Bold-webfont','roboto-bold');
@include font-face('Roboto-Italic-webfont','roboto-italic');
@include font-face('Roboto-MediumItalic-webfont','roboto-mediumitalic');
@include font-face('Roboto-Medium-webfont','roboto-medium');
@include font-face('Roboto-Regular-webfont','roboto-regular');
