.header {
    padding: 20px 0;

    h4 {
        font-family: 'roboto-medium';
    }

    .input-group input {
        border-color: $border_color;

        &:focus {
            border-color: $blue;
        }
    }
}
