.header {
    padding: 20px 0;

    h4 {
        font-family: 'roboto-medium';
    }

    .input-group input, .form-select {
        border-color: $border_color;

        &:focus {
            border-color: $blue;
        }
    }

    .form-select {
        width: auto;
    }

    @media (max-width: 575.98px) {
        &--product .input-group {
            width: 100%;
        }

        &--cashier .input-group, &--transaction .form-select {
            flex: 1 1 auto;
        }
    }
}
