@mixin info_box_color($color_name, $color) {
    &__item--#{$color_name} {
        background-color: #fff;
        border: 1px solid $border_color;

        h4 {
            color: $color;
        }
    }
}

.info-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;

    @media (max-width: 1199.98px) {
        grid-template-columns: repeat(auto-fill, minmax(296px, 1fr));
    }

    &__item {
        display: flex;
        align-items: center;
        border-radius: 4px;
    }

    @include info_box_color('violet', $violet);
    @include info_box_color('orange', $orange);
    @include info_box_color('blue', $blue);

    &__data {
        padding: 15px;
        flex: 1;

        h4 {
            font-family: 'roboto-black';
        }

        p {
            color: $gray;
            font-size: 17px;
        }
    }

    &__icon {
        flex-basis: 80px;
        padding: 15px;
        padding-left: 8px;
        color: $gray;
        text-align: right;
    }
}
