@mixin form_message_color($message_type, $color) {
    &--#{$message_type} {
        color: $color;
    }
}

@mixin form_focus_color($color_name, $box_shadow_color, $border_color) {
    &--focus-#{$color_name}:focus {
        box-shadow: 0 0 0 .25rem $box_shadow_color;
        border-color: $border_color;
    }
}

select, input, textarea {
    outline: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.form-label {
    margin-bottom: .5rem;
    font-family: 'roboto-bold';
}

%form {
    width: 100%;
    border: 1px solid #d0d0e0;
    padding: 8px 12px;
    border-radius: 4px;
    color: #333;
    transition: box-shadow .15s ease-in-out, border-color .15s ease-in-out;
    background-color: #fff;

    &:focus {
        box-shadow: 0 0 0 .25rem rgba(120,116,247,.25);
        border-color: $blue;
    }

    &:invalid {
        border-color: $red;
        box-shadow: none;
    }

    &:invalid:focus {
        box-shadow: 0 0 0 .25rem rgba(244,83,83,.25);
    }

    &::placeholder, &::-webkit-input-placeholder {
        color: #6c757d;
    }
}

.form-input {
    @extend %form;

    &[disabled=""] {
        background-color: $light_gray;
    }

    @include form_focus_color('red', rgba(244,83,83,.25), $red);
}

.form-select {
    @extend %form;

    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 16px 12px;
    padding-right: 40px;
}

.form-check-input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #d0d0e0;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out;

    &:checked {
        background-color: $blue;
        border: 1px solid $blue;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
    }
}

.form-check {
    position: relative;
    padding-left: 24px;

    .form-check-input[type="checkbox"] {
        position: absolute;
        left: 0;
        top: 4px;
    }
}

.form-file {
    position: relative;

    input[type="file"] {
        opacity: 0;
        width: 100%;
        height: 42px;
    }

    label {
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        position: absolute;
        padding: 8px 12px;
        border: 1px solid #d0d0e0;
        border-radius: 4px;
        transition: box-shadow .15s ease-in-out, border-color .15s ease-in-out;
    }

    input[type="file"]:focus + label {
        box-shadow: 0 0 0 .25rem rgba(120,116,247,.25);
        border-color: $blue;

    }
}

.form-message {
    display: inline-block;
    margin-top: 5px;
    opacity: .85;

    @include form_message_color('danger', $red);
    @include form_message_color('info', $gray);
}

.input-group {
    display: flex;

    > :not(:first-child) {
        margin-left: -1px;
    }

    .form-input {
        position: relative;
        z-index: 1;
        border-radius: 0;
        width: 1%;
        flex: 1 1 auto;

        &:focus {
            z-index: 3;
        }
    }

    .form-input:first-child {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .btn {
        position: relative;
        z-index: 2;
        border-radius: 0;

        &:hover {
            color: $blue;
        }
    }

    .btn:last-child {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}
