@mixin form-message-color($message-type, $color) {
    &--#{$message-type} {
        color: $color;
    }
}

.form-label {
    margin-bottom: .5rem;
    font-family: 'roboto-bold';
}

%form {
    width: 100%;
    outline: none;
    border: 1px solid #d0d0e0;
    padding: 8px 12px;
    border-radius: 4px;
    color: #333;
    transition: .15s ease-in-out;
    
    &:focus {
        box-shadow: 0 0 0 .25rem rgba(120,116,247,.25);
        border-color: $blue;
    }
}

.form-input {
   @extend %form;
}

.form-message {
    display: inline-block;
    margin-top: 5px;

    @include form-message-color('danger', #ed3d3d);
}

.input-group {
    display: flex;
    align-items: stretch;

    %padding-input-group {
        padding: 6px 12px;
    }

    .form-input {
        @extend %padding-input-group;

        width: 1%;
        flex: 1 1 auto;
    }

    .btn {
        @extend %padding-input-group;
    }

    &__append {
        display: flex;
    }
}
