@mixin form-message-color($message-type, $color) {
    &--#{$message-type} {
        color: $color;
    }
}

.form-label {
    margin-bottom: .5rem;
    font-family: 'roboto-bold';
}

%form {
    width: 100%;
    outline: none;
    border: 1px solid #d0d0e0;
    padding: 8px 12px;
    border-radius: 4px;
    color: #333;
    transition: box-shadow .15s ease-in-out, border-color .15s ease-in-out;
    
    &:focus {
        box-shadow: 0 0 0 .25rem rgba(120,116,247,.25);
        border-color: $blue;
    }
}

.form-input {
   @extend %form;
}

.form-message {
    display: inline-block;
    margin-top: 5px;

    @include form-message-color('danger', #ed3d3d);
}

.input-group {
    position: relative;

    %padding-input-group {
        padding: 6px 12px;
    }

    .form-input {
        @extend %padding-input-group;
    }

    .btn {
        @extend %padding-input-group;
        
        position: absolute;
        right: 0;
        top: 1px;
        bottom: 1px;
        border-left: 1px solid $border-color;
        border-radius: 0;
        color: #babac6;
    }

    svg {
        margin-top: -3px;
    }
}
