.header {
    border-bottom: 1px solid $border-color;
    background-color: #fff;

    ul {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;
    }

    &__right > li {
        padding: 15px 8px;
    }

    &__right > li:last-child {
        padding-right: 0;
    }

    &__left li {
        padding: 14px 8px;
        padding-left: 0;
    }

    img, svg {
        margin-top: -3px;
    }

    a {
        color: #474747;
        text-decoration: none;

        &:hover {
            color: $blue;
        }
    }
}

.product {
    padding: 20px 0;

    h4 {
        margin-bottom: 0;

        @media (max-width: 575.98px) {
            flex-basis: 100%;
        }
    }

    &__filter {
        list-style-type: none;
        margin-bottom: 0;
        padding-left: 0;

        @media (max-width: 575.98px) {
            flex-basis: 100%;
        }

        li {
            display: inline-block;
        }

        li a {
            color: #333;
            display: block;
            padding: 0 12px;
            padding-right: 0;

            &:hover { color: $blue; }
        }

        .input-group input {
            border-color: $border-color;

            &:focus {
                border-color: $blue;
            }
        }
    }
}

.cart {
    width: 800px;
    position: fixed;
    top: 0px;
    right: 0px;
    overflow: auto;
    height: 100vh;
    border-left: 1px solid $border-color;
    padding: 20px;

    h5 {
        font-family: "roboto-medium";
        font-size: 1.15rem;
    }
}
