.header {
    border-bottom: 1px solid $border-color;
    background-color: #fff;

    ul {
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;
    }

    li {
        display: inline-block;
    }

    &__right {
        flex: 1;
    }

    &__right li {
        padding: 15px 10px;
    }

    &__right li:last-child {
        padding-right: 16px;
    }

    &__left li {
        padding: 14px 16px;
    }

    &__search {
        padding: 8px 16px;
        flex-basis: 50%;
    }

    img, svg {
        margin-top: -3px;
    }

    a {
        color: #474747;
        text-decoration: none;

        &:hover {
            color: $blue;
        }
    }
}

.product {
    padding: 20px 0;
}

.cart {
    width: 800px;
    position: fixed;
    top: 0px;
    right: 0px;
    overflow: auto;
    height: 100vh;
    border-left: 1px solid $border-color;
    padding: 20px;

    h5 {
        font-family: "roboto-medium";
        font-size: 1.15rem;
    }
}
