@mixin loading_color($color_name, $color) {
    &--#{$color_name} div {
        border-color: $color $color transparent transparent;
    }
}

.loading {
    position: relative;
    width: 30px;
    height: 30px;
    border: 4px solid rgba(120,116,247,.3);
    border-radius: 50%;

    div {
        position: absolute;
        top: -4px;
        left: -4px;
        bottom: -4px;
        right: -4px;
        border-style: solid;
        border-width: 4px;
        border-color: $blue $blue transparent transparent;
        border-radius: 50%;
        animation: loading 1s cubic-bezier(.79,.14,.15,.86) infinite;
    }

    @include loading_color('red', $red);

    &-bg {
        z-index: 2;
        background-color: rgba(252,252,252,.7);
    }
}

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
