.height-100vh {
    height: 100vh !important;
}

.text-hover-red:hover {
    color: var(--red) !important;
}

.min-width-711 {
    min-width: 711px;
}

.text-green {
    color: var(--green) !important;
}

.text-red {
    color: var(--red) !important;
}

.overflow-x-auto {
    overflow-x: auto !important;
}
