:root {
    --border-color: #ededf2;
    --blue: #7874f7;
    --old-blue: #6967ea;
    --sky-blue: #42aadd;
    --red: #f45353;
    --old-red: #ef4343;
    --gray: #7a7a7a;
    --old-gray: #6d6d6d;
    --light-gray: #f7f7fc;
    --green: #21c45a;
    --orange: #fc9d37;
}
